@media (max-width: 768px) {
    .center {
        padding-left: 16px;
        padding-right: 16px;
    }

    .header {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-content: center;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    &__title {
        font-weight: 700;
        font-size: 32px;
        line-height: 39px;
        align-items: center;
        text-align: center;
        color: #FFFFFF;
    }

    &_text {
        font-weight: 300;
        font-size: 14px;
        line-height: 22px;
        align-items: center;
        text-align: center;
        color: #FFFFFF;

        &_button {
            width: 234.06px;
            height: 48.6px;
            left: 70.47px;
            top: 447.7px;
            background: #9C0332;
            border-radius: 30px;
        }
    }
    .middle {
    height: 1221px;
    }
    .game {
        display: grid;
        grid-template-columns: repeat(4, 1fr);

        &__item {
            grid-column: 1 / -1;
            width: 343px;
            gap: 32px;
        }
    }
}