@media (max-width: 768px) {
    .center {
        padding-left: 16px;
        padding-right: 16px;
    }

    .header {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-content: center;
        justify-content: center;
        align-items: center;
        text-align: center;

        &__title {
            margin-top: 10px;
            font-weight: 700;
            font-size: 32px;
            line-height: 39px;
            align-items: center;
            text-align: center;
            color: #FFFFFF;
        }

        &__text {
            width: 343px;
            font-weight: 300;
            font-size: 14px;
            line-height: 22px;
            align-items: center;
            text-align: center;
            color: #8f8a8a;

            &_span {
                display: inline-block;
                color: #FFFFFF;
            }
        }

        &_button {
            width: 234.06px;
            height: 48.6px;
            left: 70.47px;
            top: 447.7px;
            background: #9C0332;
            border-radius: 30px;
        }
    }

    .middle {
        height: 1221px;
    }

    .topPart {
        height: 1221px;
    }

    .game {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        padding-top: 128px;

        &__item {
            grid-column: 1 / -1;
            width: 343px;
            gap: 32px;
        }
    }

    .middlePart {
        height: 653px;
    }

    .seasons {
        margin-top: 51px;
        margin-bottom: 85px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-content: center;
        justify-content: center;
        align-items: center;

        &__title {
            font-weight: 700;
            font-size: 32px;
            line-height: 39px;
            display: flex;
            align-items: center;
            text-align: center;
            color: #FFFFFF;
            justify-content: center;

            &_span {
                color: rgb(0, 0, 0);
            }
        }

        &__text {
            font-weight: 300;
            font-size: 14px;
            line-height: 22px;
            display: flex;
            align-items: center;
            text-align: center;
            color: #FFFFFF;
            justify-content: center;
        }

        &__button {
            width: 234.06px;
            height: 48.6px;
            left: 70.47px;
            top: 2176px;
            background: #9C0332;
            border-radius: 30px;

            &_color {
                font-weight: 400;
                font-size: 18px;
                line-height: 22px;
                display: flex;
                align-items: center;
                color: #FFFFFF;
            }
        }
    }

    .gamePad {
        display: none;
    }

    .gamePadMobile {
        display: block;
    }

    .bottomPart {
        height: 653px;
        flex-wrap: nowrap;
        flex-direction: column-reverse;
    }

    .words {
        display: flex;
        align-items: center;
        padding-top: 51px;
        &__title {
            width: 264px;
            height: 39px;
            left: 53.24px;
            top: 2660.61px;
            font-weight: 700;
            font-size: 32px;
            line-height: 39px;
            display: flex;
            align-items: center;
            text-align: center;
            color: #FFFFFF;
        }

        &__text {
            width: 343px;
            height: 66px;
            left: 14.24px;
            top: 2731.61px;
            font-weight: 300;
            font-size: 14px;
            line-height: 22px;
            display: flex;
            align-items: center;
            text-align: center;
            color: #FFFFFF;
        }

        &__button {
            width: 234.06px;
            height: 48.6px;
            left: 68.71px;
            top: 2829.61px;
            background: #9C0332;
            border-radius: 30px;
        }
    }

    .gamePadWords {
        display: none;
    }

    .gamePadWordsMobile {
        display: block;
        padding-bottom: 90px;
    }

}