@keyframes jello-horizontal {
  0% {
    transform: scale3d(1, 1, 1);
  }
  30% {
    transform: scale3d(1.25, 0.75, 1);
  }
  40% {
    transform: scale3d(0.75, 1.25, 1);
  }
  50% {
    transform: scale3d(1.15, 0.85, 1);
  }
  65% {
    transform: scale3d(0.95, 1.05, 1);
  }
  75% {
    transform: scale3d(1.05, 0.95, 1);
  }
  100% {
    transform: scale3d(1, 1, 1);
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
}

a {
  text-decoration: none;
}

.center {
  padding-left: calc(50% - 600px);
  padding-right: calc(50% - 600px);
}

.top {
  height: 1024px;
  background-image: url(img/headerback.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
}

.header__title {
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  line-height: 78px;
  display: flex;
  align-items: center;
  color: #FFFFFF;
  margin-top: 217px;
  max-width: 700px;
}
.header__text {
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 32px;
  align-items: center;
  color: #8f8a8a;
  margin-top: 32px;
  margin-bottom: 44px;
}
.header__text_span {
  display: inline-block;
  color: #FFFFFF;
}
.header__button {
  width: 234px;
  height: 48px;
  background: #9C0332;
  border-radius: 30px;
  border: 1px solid #000;
  transition: background-color 1s;
  animation: jello-horizontal 1s steps(2, end) both;
}
.header__button:hover {
  background-color: #ffffff;
  color: #ff0000;
}
.header__button_color {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #FFFFFF;
}

.middle {
  height: 556px;
  background-image: url(img/gameback.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.game {
  display: flex;
  justify-content: center;
  gap: 32px;
}
.game__item1 {
  background-image: url(img/game1.png);
  height: 300px;
  width: 378px;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  display: flex;
  align-items: center;
  color: #FFFFFF;
  padding: 236px 262px 32px 32px;
}
.game__item2 {
  background-image: url(img/game2.png);
  height: 300px;
  width: 378px;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  display: flex;
  align-items: center;
  color: #FFFFFF;
  padding: 236px 262px 32px 32px;
}
.game__item3 {
  background-image: url(img/game3.png);
  height: 300px;
  width: 378px;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  display: flex;
  align-items: center;
  color: #FFFFFF;
  padding: 236px 262px 32px 32px;
}
.game__item {
  transition: all 0.3s;
}
.game__item:hover {
  transform: scale(1.05);
  box-shadow: 0 0 50px #ccc;
}

@media (max-width: 768px) {
  .center {
    padding-left: 16px;
    padding-right: 16px;
  }
  .header {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .header__title {
    font-weight: 700;
    font-size: 32px;
    line-height: 39px;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
  }
  .header_text {
    font-weight: 300;
    font-size: 14px;
    line-height: 22px;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
  }
  .header_button {
    width: 234.06px;
    height: 48.6px;
    left: 70.47px;
    top: 447.7px;
    background: #9C0332;
    border-radius: 30px;
  }
  .middle {
    height: 1221px;
  }
  .game {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding-top: 128px;
  }
  .game__item {
    grid-column: 1/-1;
    width: 343px;
    gap: 32px;
  }
}/*# sourceMappingURL=style.css.map */